DEBUG=True
SECRET_KEY=coloca_tu_secret_key
ALLOWED_HOSTS=localhost,127.0.0.1,.run.app
CSRF_TRUSTED_ORIGINS=https://tu-servicio.run.app

GOOGLE_SHEET_ID=tu_id_de_google_sheets
GOOGLE_SHEET_TAB=Registro
GOOGLE_SERVICE_ACCOUNT_FILE=guardadobasedatos.json
GOOGLE_SERVICE_ACCOUNT_JSON=
